$fa-font-path: "~font-awesome/fonts/";
$fa-font: FontAwesome;

$primary_black: #000000;
$primary_blue: #66ccff;
$primary_red: #ff5c33;
$primary_white: #fff;

$dark_grey: #333333;
$light_grey: #f2f2f2;
$medium_grey: #9d9c9c;

$twitter: #1da1f2;
$github: #24292e;
$linkedin: #0084bf;
