$fa-font-path: "~font-awesome/fonts/";
$fa-font: FontAwesome;

$nunito: 'Nunito Sans';

$primary_black: #000000;
$primary_blue: #66ccff;
$primary_red: #ff5c33;
$primary_white: #fff;

$dark_grey: #333333;
$light_grey: #f2f2f2;
$medium_grey: #9d9c9c;
