$fa-font-path: "~font-awesome/fonts/";
$fa-font: FontAwesome;

$nunito: 'Nunito Sans';

$primary_black: #000000;
$primary_blue: #083eab;
$primary_red: #db052b;
$primary_white: #fff;

$dark_grey: #333333;
$light_grey: #f2f2f2;
$medium_grey: #9d9c9c;

// range doors
$alu: #5b6f85;
$mixte: #828f6f;
$bois: #9f8b76;
$acier: #a995a8;

$secondary_blue: #5b6f85;// alu
$secondary_green: #828f6f;// mixte
$secondary_brown: #9f8b76;// bois
$secondary_pink: #a995a8;// acier

// socials networks
$fb: #3b5998;
$pin: #c92228;
$yt: #cd201f;
$gl: #d62d20;

// others
$pad_100: 100px;
