.btn {
    border-radius: 2px;
    font-weight: bold;
    height: 36px;
    margin-bottom: 12px;
    margin-top: 12px;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    &:active, &:focus, &:hover {
        cursor: pointer;
    }
    &.btn-blue {
        background-color: $primary_blue;
        border: 1px solid $primary_blue;
        color: $primary_white;
        &:active, &:focus, &:hover {
            background-color: $primary_white;
            color: $primary_blue;
        }
    }
    &.btn-grey {
        background-color: $dark_grey;
        border: 1px solid $dark_grey;
        color: $primary_white;
        &:active, &:focus, &:hover {
            background-color: $primary_white;
            color: $dark_grey;
        }
    }
}
