.btn {
    border-radius: 7px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    outline: none;
    padding: 8px 20px;
    &:active, &:focus, &:hover {
        cursor: pointer;
    }
    &.btn-blue {
        background-color: $primary_blue;
        border: 1px solid $primary_blue;
        color: $primary_white;
        &:active, &:focus, &:hover {
            background-color: $primary_white;
            color: $primary_blue;
        }
    }
    &.btn-grey {
        background-color: $dark_grey;
        border: 1px solid $dark_grey;
        color: $primary_white;
        &:active, &:focus, &:hover {
            background-color: $primary_white;
            color: $dark_grey;
        }
    }
}
