article {
    padding: 15px;
    @media all and (max-width: 576px) {
         padding: 15px 0;
    }
    div.article-entry {
        background-color: $primary_white;
        div.article-content {
            overflow: hidden;
            padding: 20px 15px;
            a.more {
                color: $primary_red;
                font-family: $nunito;
                text-decoration: underline;
                &:hover {
                    color: $primary_blue;
                }
            }
            a, h2, p {
                @media all and (min-width: 992px) {
                    height: 10rem;
                }
                @media all and (max-width: 576px) {
                    min-height: 10rem;
                }
            }
            a {
                line-height: 25px;
                max-height: 41px;
                max-width: 210px;
                min-height: 41px;
                &::after {
                    top: 8px;
                }
            }
            h2 {
                color: $primary_red;
            }
        }
        header.img {
            height: 250px;
        }
    }
    .article-page {
        h1, h3 {
            margin-bottom: 2rem;
            color: $primary_red;
        }
        div.img {
            height: 350px;
            margin-bottom: 2rem;
        }
    }
}
.comment {
    border: 1px solid $medium_grey;
    border-radius: 7px;
}
