.comments-space {
    margin-bottom: 5rem;
    margin-top: 5rem;
    textarea {
        border-radius: 3px;
        height: 110px;
        outline: none;
        padding: 10px;
        resize: none;
        width: 100%;
        @media all and (max-width: 576px) {
            height: 310px;
        }
    }
    .add-comment {
        padding: 20px 30px 0;
        p {
            font-size: 1.8rem;
        }
    }
    .comment, .no-comment {
        margin-top: 2rem;
    }
    .comment {
        padding: 0 30px;
        .wrap {
            background-color: $primary_white;
            border-radius: 7px;
            padding: 10px;
            position: relative;
            i {
                cursor: pointer;
                position: absolute;
                top: 5px;
                &:first-child {
                    right: 30px;
                }
                &:nth-child(2) {
                    right: 10px;
                }
                &:hover {
                    color: $dark_grey;
                }
            }
            p {
                word-break: break-word;
            }
        }
    }
    .need-connect {
        margin-top: 2.5rem;
        p {
            color: $medium_grey;
        }
    }
    .send {
        padding-left: 30px;
        padding-right: 30px;
    }
}
