header#body-header {
    background-color: $primary_blue;
    height: 90px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    > div {
        height: 100%;
    }
    h2 {
        line-height: 2;
    }
    .login {
        color: $primary_white;
        cursor: pointer;
        margin-left: auto;
        i {
            margin-left: 10px;
        }
    }
}
