div#login {
    // background: url('http://i2.cdn.cnn.com/cnnnext/dam/assets/150326161627-news-stream-full-full-169.png');
    height: 100%;
    width: 100%;

    button {
        float: right;
    }

    h3, h4 {
        color: $primary_blue;
    }

    header {
        margin-bottom: 3rem;
        text-align: center;
    }

    span {
        color: $medium_grey;
    }

    .form-check {
        display: inline-flex;
        input {
            margin-top: 0.4rem;
        }
        p {
            margin-left: 5px;
        }
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .login-content {
        background-color: $primary_white;
        border-top: 4px solid #66ccff;
        padding: 3rem 5rem 3.5rem;
        @media all and (max-width: 576px) {
            padding: 3rem 2.5rem 3.5rem;
        }
    }

    .site-title {
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
        h1 {
            color: $medium_grey;
        }
    }
    .window {
        position: absolute;
        padding-bottom: 25px;
        padding-top: 25px;
        transform: translateY(-50%);
        top: calc(50% - 45px);
        @media all and (max-width: 576px) {
            top: 50%;
        }
    }
    .wrap {
        height: 100%;
        position: relative;
    }
}
