body#b-login {
    #body-preheader, #body-header, #body-footer {
        display: none;
    }
    #login {
        background-image: url('../../../../web/bundles/app/img/login_wp.jpg');
        background-size: cover;
        .wrap {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
}
div#login {
    height: 100%;
    width: 100%;

    button {
        float: right;
    }

    h3, h4 {
        color: $primary_blue;
    }

    header {
        margin-bottom: 5rem;
        text-align: center;
    }

    span {
        color: $medium_grey;
    }

    .form-check {
        display: inline-flex;
        input {
            margin-top: 0.4rem;
        }
        p {
            margin-left: 5px;
        }
    }

    .flt-return {
        display: inline-flex;
        left: 15px;
        position: absolute;
        cursor: pointer;
        &:hover {

        }
        @media all and (min-width: 577px) {
            top: 15px;
        }
        @media all and (max-width: 576px) {
            bottom: 0;
        }
        i, p {
            color: $primary_blue;
        }
        p {
            font-size: 2.5rem;
            font-weight: bold;
            margin-left: 10px;
        }
    }

    .login-content {
        background-color: $primary_white;
        border-top: 4px solid #66ccff;
        padding: 3rem 5rem 3.5rem;
        @media all and (max-width: 576px) {
            padding: 3rem 2.5rem 3.5rem;
        }
    }

    .site-title {
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
        h1 {
            color: $medium_grey;
        }
    }
    .window {
        position: absolute;
        padding-bottom: 25px;
        padding-top: 25px;
        transform: translateY(-50%);
        top: calc(50% - 45px);
        @media all and (max-width: 576px) {
            top: 50%;
        }
    }
    .wrap {
        height: 100%;
        position: relative;
    }
}
